# Copyright (c) 2020 UMONS Fab-IoT-Lab
#
# serial2edge - UMONS Fab-IoT-Lab (ROLAND Francois) is free software: you can
# redistribute it and/or modify it under the terms of the MIT License.  This
# program is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE.  See the MIT License for more details.
#
# You should have received a copy of the MIT License along with this program.  If
# not, see https://spdx.org/licenses/MIT.html. Each use of this software must be
# attributed to University of MONS - Fab-IoT-Lab (ROLAND Francois).

root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
